main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    .frame {
        align-items: center;
        background-color: white;
        display: flex;
        height: 475px;
        flex-wrap: wrap;
        justify-content: center;
        width: 60%;
        border-radius: 10px;
    
        .screen {
            background-color: white;
            border: 2px solid black;
            height: 400px;
            max-height: 800px;
            width: 90%;
            overflow-x: auto;
    
            .pokemon-list {
                padding: 10px;
                width: 100%;
    
                .pokemon-item {
                    color: black;
                    display: flex;
                    justify-content: space-between;
                    text-decoration: none;
                    width: 100%;
                }
    
                tr:hover > td > a { background-color: black; color: white; }
            }
    
            .arrow {
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
            }
              
            .right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }

            .container {
                display: flex;
                flex: 1;
                height: 100%;
                justify-content: center;
                width: 100%;
                overflow-y: hidden;

                .picture {
                    align-items: center;
                    display: flex;
                    flex: 1;
                    flex-direction: column;

                    .pokemonImg { width: 60%; }
                }

                .info {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50%;
                }

                .info > a { color: black; margin-bottom: 70px; }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .container {
        align-items: center;
        flex-direction: column; 
        justify-content: space-between;

        .pokemonImg { width: 100%; }
    }
}
