<main role="main">
    <div class="frame">
        <div class="screen">
            <table class="pokemon-list" *ngIf="pokemonList; else elseBlock">
                <tr><th>Pokemon List</th></tr>
                <tr *ngFor="let pokemon of pokemonList">
                    <td>
                        <a routerLink="/pokemon/{{ pokemon.name }}" class="pokemon-item">
                            {{ pokemon.name }} <span>&#62;</span>
                        </a>
                    </td>
                </tr>
            </table>
            <ng-template #elseBlock>
                <div class="container" *ngIf="pokemonName">
                    <div class="picture">
                        <p>{{ pokemonName }}</p>
                        <img src="{{ pokemonImage }}" class="pokemonImg">
                        <ng-template #shimmer></ng-template>
                    </div>
                    <div class="info">
                        <p>Abilities</p>
                        <ul>
                            <li *ngFor="let pokemonAbility of pokemonAbilities">
                                {{ pokemonAbility.ability.name }}
                            </li>
                        </ul>
                        <a routerLink="/pokemon-list">Back</a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</main>